<ng-container *ngIf="entity$ | async as course">
    <h3 class="form-header">{{ 'TEACHER_FORM.EDIT_TITLE' | translate }}</h3>

    <form
            class="form"
            [formGroup]="form"
    >

        <mat-form-field appearance="fill">
            <mat-label>{{ 'TEACHER_FORM.FIRST_NAME' | translate }}</mat-label>
            <input matInput formControlName="firstName">
            <mat-error appFormError controlName="firstName"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'TEACHER_FORM.LAST_NAME' | translate }}</mat-label>
            <input matInput formControlName="lastName">
            <mat-error appFormError controlName="lastName"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'TEACHER_FORM.THIRD_NAME' | translate }}</mat-label>
            <input matInput formControlName="thirdName">
            <mat-error appFormError controlName="thirdName"></mat-error>
        </mat-form-field>

        <div class="form-group">
            <button
                    mat-raised-button
                    color="primary"
                    [disabled]="saveDisabled$ | async"
                    (click)="onUpdate()"
            >
                {{ 'COMMON.SAVE' | translate }}
            </button>

            <button
                    mat-raised-button
                    color="warn"
                    [disabled]="deleteDisabled$ | async"
                    (click)="onDelete()"
            >
                {{ 'COMMON.DELETE' | translate }}
            </button>
        </div>

    </form>
</ng-container>
