<div class="sidenav-header">
    <h1>{{ 'SIDENAV.TITLE' | translate }}</h1>
    <button
        mat-icon-button
        (click)="sidenavService.closeSidenav()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-nav-list>
    <mat-list-item
        *ngFor="let link of sidenavService.menuLinks$ | async"
        [routerLink]="link.path"
        routerLinkActive="sidenav-link--active"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        <div class="sidenav-link__content">
            <mat-icon>{{ link.icon }}</mat-icon>
            <span>{{ 'SIDENAV.LINKS.' + link.text | translate }}</span>
        </div>
    </mat-list-item>
</mat-nav-list>
