<h3 class="form-header">{{ 'TEACHER_FORM.CREATE_TITLE' | translate }}</h3>

<form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'TEACHER_FORM.FIRST_NAME' | translate }}</mat-label>
        <input matInput formControlName="firstName">
        <mat-error appFormError controlName="firstName"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'TEACHER_FORM.LAST_NAME' | translate }}</mat-label>
        <input matInput formControlName="lastName">
        <mat-error appFormError controlName="lastName"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'TEACHER_FORM.THIRD_NAME' | translate }}</mat-label>
        <input matInput formControlName="thirdName">
        <mat-error appFormError controlName="thirdName"></mat-error>
    </mat-form-field>

    <button
        [disabled]="submitDisabled$ | async"
        color="primary"
        mat-raised-button
    >
        {{ 'COMMON.CREATE' | translate }}
    </button>
</form>
