<h3 class="form-header">{{ 'COURSE_FORM.CREATE_TITLE' | translate }}</h3>

<form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'COURSE_FORM.NAME' | translate }}</mat-label>
        <input matInput formControlName="name">
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'COURSE_FORM.SHORT_NAME' | translate }}</mat-label>
        <input matInput formControlName="shortName">
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <button
        [disabled]="submitDisabled$ | async"
        color="primary"
        mat-raised-button
    >
        {{ 'COMMON.CREATE' | translate }}
    </button>
</form>
