<mat-toolbar color="primary">
    <button
        mat-icon-button
        (click)="sidenavService.openSidenav()"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'APP.TITLE' | translate }}</span>

    <span class="spacer"></span>

    <app-locales-menu></app-locales-menu>

    <app-account-menu
        *ngIf="userService.user else login"
    ></app-account-menu>

    <ng-template #login>
        <button
            routerLink="auth/signin"
            mat-icon-button
        >
            <mat-icon>login</mat-icon>
        </button>
    </ng-template>

</mat-toolbar>
<mat-progress-bar *ngIf="loaderService.loading$ | async" mode="indeterminate"></mat-progress-bar>
