<div class="schedule-item">
    <div class="schedule-item__header">
        <h2 class="schedule-item__coursename">
            {{ item.courseName }}
        </h2>

        <ng-content></ng-content>
    </div>

    <h4 class="schedule-item__duration">{{ item.startTime }} - {{ item.endTime }}</h4>

    <ng-container *ngTemplateOutlet="
        row;
        context: {
            icon: item.format === format.Online ? 'public' : 'domain',
            text: item.format,
            iconClass: 'icon--blue'
        }"
    ></ng-container>

    <ng-template [ngIf]="item.audiences">
        <ng-container *ngTemplateOutlet="
            row;
            context: {
                icon: 'place',
                text: item.audiences,
                iconClass: 'icon--red'
            }"
        ></ng-container>
    </ng-template>

    <ng-template [ngIf]="item.weekType">
        <ng-container *ngTemplateOutlet="
        row;
        context: {
            icon: 'date_range',
            text: item.weekType,
            iconClass: 'icon--gray'
        }"
        ></ng-container>
    </ng-template>

    <ng-container *ngTemplateOutlet="
        row;
        context: {
            icon: 'school',
            text: item.teachers,
            iconClass: 'icon--gray'
        }"
    ></ng-container>
</div>
<div class="schedule-item__underline" [ngStyle]="lineStyle"></div>

<ng-template #row let-icon="icon" let-iconClass="iconClass" let-text="text">
    <div class="schedule-item__info">
        <mat-icon [ngClass]="iconClass">{{ icon }}</mat-icon>
        <span class="schedule-item__text">{{ text }}</span>
    </div>
</ng-template>
