<ng-container *ngIf="schedule$ | async as schedule">
    <app-schedule-edit-form
        class="schedule-edit__form"
        [schedule]="schedule">
    </app-schedule-edit-form>

    <div class="schedule-edit__designer">
        <mat-form-field appearance="fill">
            <mat-label>Group Number</mat-label>
            <mat-select [formControl]="groupControl">
                <mat-option
                    *ngFor="let group of groups$ | async"
                    [value]="group"
                >
                    {{ group.number }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="designer__actions">
            <button
                mat-raised-button
                color="primary"
                (click)="onClassCreate(schedule.id)"
                [disabled]="createDisabled"
            >
                <mat-icon>add</mat-icon>
                Add class
            </button>
        </div>
    </div>

    <app-schedule-body
        [classes]="classes$"
        [editMode]="true"
        (classEdit)="onClassEdit($event, schedule.id)"
    ></app-schedule-body>
</ng-container>
