<h1 class="list__header">{{ 'SCHEDULE_LIST.TITLE' | translate }}</h1>

<div class="list__actions">
    <button
        mat-flat-button
        color="primary"
        routerLink="/designer/schedule-create"
    >
        <mat-icon>add</mat-icon>
        {{ 'SCHEDULE_LIST.CREATE_SCHEDULE' | translate }}
    </button>
</div>

<div
    *ngIf="scheduleList | async as list"
    class="mat-elevation-z2"
>
    <mat-table class="schedule__list" [dataSource]="list.items">
        <ng-container matColumnDef="semester">
            <mat-header-cell *matHeaderCellDef>{{ 'COMMON.SEMESTER' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.semester }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef>{{ 'COMMON.YEAR' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.year }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="version">
            <mat-header-cell *matHeaderCellDef>{{ 'COMMON.VERSION' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.version }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isPublished">
            <mat-header-cell *matHeaderCellDef>{{ 'COMMON.ACTIVE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-template
                    [ngIf]="element.isPublished"
                    [ngIfElse]="unpublished"
                >
                    <mat-icon class="icon--green">
                        published_with_changes
                    </mat-icon>
                </ng-template>
                <ng-template #unpublished>
                    <mat-icon
                        class="icon--red"
                        fontSet="material-icons-outlined"
                    >
                        unpublished
                    </mat-icon>
                </ng-template>
            </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row
            matRipple
            [routerLink]="['/designer/schedule-edit', row.id]"
            *matRowDef="let row; columns: displayColumns"
        ></mat-row>
    </mat-table>
    <mat-paginator
        [pageSizeOptions]="pageSizes"
        [pageSize]="list.pageSize"
        [length]="list.totalCount"
        (page)="onPaginationChange($event)"
    ></mat-paginator>
</div>
