@use "~styles/form";
@use "~styles/colors";

.auth-form {
    &__header {
        @extend .form-header;
    }

    &__form {
        @extend .form;
    }

    &__footer {
        margin-top: 0.5rem;
        text-align: center;
    }

    &__link {
        color: colors.$mat-primary;
    }
}

