@use '~styles/breakpoints';

@mixin form-vertical {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: row;
    gap: 0.5rem;

    padding: 0 0.5rem;
    margin: 0 auto;

    @include breakpoints.sm {
        max-width: breakpoints.$sm_width * 1px;
        padding: 0;
    }
}

@mixin form-horizontal {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: row;
    gap: 0.5rem;

    padding: 0 0.5rem;
    margin: 0 auto;

    @include breakpoints.sm {
        grid-auto-flow: column;
        padding: 0;
    }
}

@mixin form-header {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 1.75rem;
    text-align: center;
}
