<div class="schedule-designer__toolbar">
    <mat-form-field
        class="toolbar__filter"
        appearance="fill">
        <mat-label>{{ 'FILTERS.GROUP_NUMBER' | translate }}</mat-label>
        <mat-select [formControl]="groupControl">
            <mat-option
                *ngFor="let group of groups$ | async"
                [value]="group"
            >
                {{ group.number }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="toolbar__actions">
        <button
            mat-raised-button
            color="primary"
            (click)="onClassCreate(schedule.id)"
            [disabled]="createDisabled"
        >
            <mat-icon>add</mat-icon>
            {{ 'SCHEDULE_VIEW.ADD_CLASS' | translate }}
        </button>
    </div>
</div>

<app-schedule-body
    [classes]="classes$"
    [editMode]="true"
    (classEdit)="onClassEdit($event, schedule.id)"
></app-schedule-body>
