<h3 class="form-header">{{ 'AUDIENCE_FORM.CREATE_TITLE' | translate }}</h3>

<form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    class="form"
>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUDIENCE_FORM.CORPS' | translate }}</mat-label>
        <input matInput formControlName="corps">
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUDIENCE_FORM.FLOOR' | translate }}</mat-label>
        <input matInput formControlName="floor">
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUDIENCE_FORM.ROOM' | translate }}</mat-label>
        <input matInput formControlName="room">
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <button
        [disabled]="submitDisabled$ | async"
        color="primary"
        mat-raised-button
    >
        {{ 'COMMON.CREATE' | translate }}
    </button>
</form>
