@use '~styles/colors';
@use '~styles/icons';
@use '~styles/breakpoints';

:host {
    display: block;
    padding: 0 0.25rem;

    @include breakpoints.sm {
        padding: 0;
    }
}

.list__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.375rem;
}

.list__header {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;

    color: colors.$gray-800;
}

.schedule__list {
    width: 100%;
}

.loader {
    min-height: 500px;
}

.mat-row:hover .mat-cell {
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background-color: colors.$mat-light-gray;
}
