@use "~styles/breakpoints";

:host {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 0.25rem;

    @include breakpoints.sm {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 1rem;
    }
}
