<form class="schedule__filters"
      [formGroup]="filtersForm"
>
    <mat-form-field appearance="fill">
        <mat-label>Group Number</mat-label>
        <mat-select
            formControlName="group"
            [compareWith]="compareEntities"
        >
            <mat-option
                *ngFor="let group of groups"
                [value]="group"
            >
                {{ group.number }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Teacher</mat-label>
        <mat-select
            formControlName="teacher"
            [compareWith]="compareEntities"
        >
            <mat-option
                *ngFor="let teacher of teachers"
                [value]="teacher"
            >
                {{ teacher.fullName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Class Type</mat-label>
        <mat-select formControlName="classType">
            <mat-select-trigger>
                {{ filtersForm.controls['classType'].value }}
            </mat-select-trigger>
            <mat-option [value]="null">
                None
            </mat-option>
            <mat-option
                *ngFor="let classType of classTypes"
                [value]="classType"
            >
                <mat-icon [style.color]="classTypeColorMap.get(classType)">brightness_1</mat-icon>
                {{ classType }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Class Format</mat-label>
        <mat-select formControlName="classFormat">
            <mat-option [value]="null">
                None
            </mat-option>
            <mat-option
                *ngFor="let format of educationFormats"
                [value]="format"
            >
                {{ format }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
