<h3 class="auth-form__header">{{ 'AUTH.SIGNIN_TITLE' | translate }}</h3>

<form
    class="auth-form__form"
    [formGroup]="signinForm"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.EMAIL' | translate }}</mat-label>
        <input matInput
               formControlName="email"
               [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate"
        >
        <mat-error appFormError controlName="email"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.PASS' | translate }}</mat-label>
        <input matInput
               formControlName="password"
               type="password"
               [placeholder]="'AUTH.PASS_PLACEHOLDER' | translate"
        >
        <mat-error appFormError controlName="password"></mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary"
        [disabled]="submitDisabled"
    >
        {{ 'AUTH.SIGNIN' | translate }}
    </button>

</form>

<div class="auth-form__footer">
    <p>
        {{ 'AUTH.NO_ACCOUNT' | translate }}
        <a class="auth-form__link" routerLink="/auth/signup">{{ 'AUTH.SIGNUP' | translate }}</a>
    </p>
</div>

