<div class="schedule-edit-form__actions">
    <div [matTooltip]="'SCHEDULE_FORM.SAVE_DISABLED' | translate" [matTooltipDisabled]="!saveDisabled">
        <button
            mat-raised-button
            color="primary"
            class="w-full"
            [disabled]="saveDisabled || actionsDisabled"
            (click)="onSave()"
        >
            <mat-icon>save</mat-icon>
            {{ 'COMMON.SAVE' | translate }}
        </button>
    </div>

    <div [matTooltip]="'SCHEDULE_FORM.PUBLISHED' | translate" [matTooltipDisabled]="!publishDisabled">
        <button
            mat-raised-button
            class="btn--green w-full"
            [disabled]="publishDisabled || actionsDisabled"
            (click)="onPublish()"
        >
            <mat-icon>publish</mat-icon>
            {{ 'COMMON.PUBLISH' | translate }}
        </button>
    </div>

    <button
        mat-raised-button
        class="btn--yellow"
        [disabled]="copyDisabled || actionsDisabled"
        (click)="onCopy()"
    >
        <mat-icon>content_copy</mat-icon>
        {{ 'COMMON.COPY' | translate }}
    </button>

    <div [matTooltip]="'SCHEDULE_FORM.DELETE_DISABLED' | translate" [matTooltipDisabled]="!deleteDisabled">
        <button
            mat-raised-button
            color="warn"
            class="w-full"
            [disabled]="deleteDisabled || actionsDisabled"
            (click)="onDelete()"
        >
            <mat-icon>delete</mat-icon>
            {{ 'COMMON.DELETE' | translate }}
        </button>
    </div>
</div>

<form
    class="schedule-edit-form__form"
    [formGroup]="scheduleForm"
>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'COMMON.YEAR' | translate }}</mat-label>
        <input matInput formControlName="year">
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'COMMON.SEMESTER' | translate }}</mat-label>
        <mat-select formControlName="semester">
            <mat-option
                *ngFor="let semester of semesters"
                [value]="semester"
            >
                {{ 'SEMESTER.' + semester | uppercase | translate }}
            </mat-option>
        </mat-select>
        <mat-error matErrorMessage></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'COMMON.VERSION' | translate }}</mat-label>
        <input matInput formControlName="version">
    </mat-form-field>
</form>
