<ng-container *ngIf="entity$ | async as course">
    <h3 class="form-header">{{ 'COURSE_FORM.EDIT_TITLE' | translate }}</h3>

    <form
        class="form"
        [formGroup]="form"
    >

        <mat-form-field appearance="fill">
            <mat-label>{{ 'COURSE_FORM.NAME' | translate }}</mat-label>
            <input matInput formControlName="name">
            <mat-error appFormError controlName="name"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'COURSE_FORM.SHORT_NAME' | translate }}</mat-label>
            <input matInput formControlName="shortName">
            <mat-error appFormError controlName="shortName"></mat-error>
        </mat-form-field>

        <div class="form-group">
            <button
                    mat-raised-button
                    color="primary"
                    [disabled]="saveDisabled$ | async"
                    (click)="onUpdate()"
            >
                {{ 'COMMON.SAVE' | translate }}
            </button>

            <button
                    mat-raised-button
                    color="warn"
                    [disabled]="deleteDisabled$ | async"
                    (click)="onDelete()"
            >
                {{ 'COMMON.DELETE' | translate }}
            </button>
        </div>

    </form>
</ng-container>
