<h3 class="auth-form__header">{{ 'AUTH.SIGNUP_TITLE' | translate }}</h3>

<form
    class="auth-form__form"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.EMAIL' | translate }}</mat-label>
        <input matInput
               formControlName="email"
               [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate"
        >
        <mat-error>{{ errors['email'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.USERNAME' | translate }}</mat-label>
        <input matInput
               formControlName="username"
               [placeholder]="'AUTH.USERNAME_PLACEHOLDER' | translate"
        >
        <mat-error>{{ errors['username'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.PASS' | translate }}</mat-label>
        <input matInput
               formControlName="password"
               type="password"
               [placeholder]="'AUTH.PASS_PLACEHOLDER' | translate"
        >
        <mat-error>{{ errors['password'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.PASS_CONFIRM' | translate}}</mat-label>
        <input matInput
               formControlName="passwordConfirm"
               type="password"
               [placeholder]="'AUTH.PASS_CONFIRM_PLACEHOLDER' | translate"
        >
        <mat-error>{{ errors['passwordConfirm'] }}</mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary"
        [disabled]="submitDisabled"
    >
        {{ 'AUTH.SIGNUP' | translate }}
    </button>
</form>

<div class="auth-form__footer">
    <p>
        {{ 'AUTH.HAVE_ACCOUNT' | translate }}
        <a class="auth-form__link" routerLink="/auth/signin">{{ 'AUTH.SIGNIN' | translate }}</a>
    </p>
</div>
