@use '~styles/breakpoints';
@use '~styles/buttons';

:host {
    display: block;
}

.schedule-edit-form__actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    margin-bottom: 1rem;

    @include breakpoints.sm {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.schedule-edit-form__form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 1rem;

    @include breakpoints.sm {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 1rem;
    }
}
