<mat-sidenav-container>

    <mat-sidenav
        class="drawer"
        mode="over"
        (closed)="sidenavService.closeSidenav()"
        [opened]="sidenavService.sidenavState$ | async"
    >
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="page-content">

        <app-navbar></app-navbar>

        <div class="container">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
