@use '~styles/mixins';
@use '~styles/colors';
@use '~styles/breakpoints';

.class-form {
    display: flex;
    flex-direction: column;

    &__input-group {
        display: flex;
        flex-direction: column;

        & > * {
            width: 100%;
        }

        @include breakpoints.sm {
            flex-direction: row;
            column-gap: 1rem;
        }
    }

    &__header {
        @include mixins.form-header;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        & > * {
            width: 100%;
            margin-left: 0;
        }

        @include breakpoints.sm {
            flex-direction: row;
            column-gap: 1rem;

            & > * {
                flex-grow: 1;
                width: auto;
            }
        }
    }
}

