@use '~styles/mixins';
@use '~styles/breakpoints';
@use '~styles/form';

.class-form {
    display: flex;
    flex-direction: column;

    &-header {
        @include mixins.form-header;
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        & > * {
            width: 100%;
            margin-left: 0;
        }

        @include breakpoints.sm {
            flex-direction: row;
            column-gap: 1rem;

            & > * {
                flex-grow: 1;
                width: auto;
            }
        }
    }
}

