<ng-container *ngIf="entity$ | async as audience">
    <h3 class="form-header">{{ 'AUDIENCE_FORM.EDIT_TITLE' | translate }}</h3>

    <form
        [formGroup]="form"
        class="form"
    >

        <mat-form-field appearance="fill">
            <mat-label>{{ 'AUDIENCE_FORM.CORPS' | translate }}</mat-label>
            <input matInput formControlName="corps">
            <mat-error appFormError controlName="corps"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'AUDIENCE_FORM.FLOOR' | translate }}</mat-label>
            <input matInput formControlName="floor">
            <mat-error appFormError controlName="floor"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'AUDIENCE_FORM.ROOM' | translate }}</mat-label>
            <input matInput formControlName="room">
            <mat-error appFormError controlName="room"></mat-error>
        </mat-form-field>

        <div class="form-group">
            <button
                (click)="onUpdate()"
                [disabled]="saveDisabled$ | async"
                color="primary"
                mat-raised-button
            >
                {{ 'COMMON.SAVE' | translate }}
            </button>

            <button
                (click)="onDelete()"
                [disabled]="deleteDisabled$ | async"
                color="warn"
                mat-raised-button
            >
                {{ 'COMMON.DELETE' | translate }}
            </button>
        </div>

    </form>
</ng-container>
