@use "~styles/breakpoints";
@use "~styles/colors";

.schedule__body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @include breakpoints.md {
        grid-template-columns: none;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }
}

.body__column {
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 0.75rem;
    }

    & > *:last-child {
        margin-bottom: 2.5rem;
    }

    @include breakpoints.md {
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.column__card {
    padding: 0 0.5rem;

    @include breakpoints.sm {
        padding: 0;
    }

    @include breakpoints.md {
        padding: 0 0.5rem;
    }
}

.column__weekday {
    padding: 0.75rem;
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: colors.$gray-600;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
