<mat-form-field class="w-full" appearance="fill">
    <mat-label>Audiences</mat-label>
    <mat-chip-list #audienceList [formControl]="audienceControl">
        <mat-chip
            *ngFor="let audience of selectedAudiences"
            (removed)="audienceRemoved(audience)">
            {{ audience.fullNumber }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text"
               #audienceInput
               matInput
               [formControl]="audienceNumberControl"
               [matAutocomplete]="teacherAutocomplete"
               [matChipInputFor]="audienceList"
        >
    </mat-chip-list>
    <mat-autocomplete
        autoActiveFirstOption
        #teacherAutocomplete
        (optionSelected)="audienceSelected($event)"
    >
        <mat-option *ngFor="let audience of filteredAudiences$ | async" [value]="audience">
            {{ audience.fullNumber }}
        </mat-option>
    </mat-autocomplete>
    <mat-error>{{ error }}</mat-error>
</mat-form-field>
