<h3
    class="class-form__header"
    mat-dialog-title
>
    {{ formTitle }}
</h3>
<mat-dialog-content>
    <form
        class="class-form"
        [formGroup]="classForm"
    >

        <mat-form-field appearance="fill">
            <mat-label>Education format</mat-label>
            <mat-select formControlName="format">
                <mat-option
                    *ngFor="let format of educationFormats"
                    [value]="format"
                >
                    {{ format }}
                </mat-option>
            </mat-select>
            <mat-error>{{ errors['format'] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Class type</mat-label>
            <mat-select formControlName="type">
                <mat-option
                    *ngFor="let type of classTypes"
                    [value]="type"
                >
                    {{ type }}
                </mat-option>
            </mat-select>
            <mat-error>{{ errors['type'] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Course</mat-label>
            <mat-select formControlName="courseId">
                <mat-option
                    *ngFor="let course of courses$ | async"
                    [value]="course.id"
                >
                    {{ course.name }}
                </mat-option>
            </mat-select>
            <mat-error>{{ errors['courseId'] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Weekday</mat-label>
            <mat-select formControlName="weekDay">
                <mat-option
                    *ngFor="let weekDay of weekdays"
                    [value]="weekDay"
                >
                    {{ weekDay }}
                </mat-option>
            </mat-select>
            <mat-error>{{ errors['weekDay'] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Week type</mat-label>
            <mat-select formControlName="weekType">
                <mat-option [value]="null">None</mat-option>
                <mat-option
                    *ngFor="let weekType of weekTypes"
                    [value]="weekType"
                >
                    {{ weekType }}
                </mat-option>
            </mat-select>
            <mat-error>{{ errors['weekType'] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Start Time</mat-label>
            <input matInput formControlName="startTime" type="time">
            <mat-error>{{ errors['startTime'] }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>End Time</mat-label>
            <input matInput formControlName="endTime" type="time">
            <mat-error>{{ errors['endTime'] }}</mat-error>
        </mat-form-field>

        <app-select-list
            formControlName="teachers"
            title="Teachers"
            [items]="teachers$"
            [filter]="filterTeachers"
            [displayWith]="displayTeacher"
            [error]="errors['teachers']"
        ></app-select-list>

        <app-select-list
            formControlName="audiences"
            title="Audiences"
            [items]="audiences$"
            [filter]="filterAudiences"
            [displayWith]="displayAudience"
            [error]="errors['audiences']"
        ></app-select-list>

        <app-select-list
            formControlName="groups"
            title="Groups"
            [items]="groups$"
            [filter]="filterGroups"
            [displayWith]="displayGroup"
            [error]="errors['groups']"
        ></app-select-list>

    </form>
</mat-dialog-content>

<mat-dialog-actions class="class-form__buttons">
    <ng-template [ngIf]="isCreateMode" [ngIfElse]="editButtons">
        <button
            mat-raised-button
            color="primary"
            (click)="submit()"
        >
            <mat-icon>add</mat-icon>
            Create
        </button>
    </ng-template>

    <ng-template #editButtons>
        <button
            mat-raised-button
            color="primary"
            [disabled]="saveDisabled"
            (click)="submit()"
        >
            <mat-icon>save</mat-icon>
            Save
        </button>

        <button
            mat-raised-button
            color="warn"
            (click)="delete()"
        >
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </ng-template>
</mat-dialog-actions>
