@use '~styles/mixins';
@use '~styles/colors';
@use '~styles/breakpoints';

.class-form {
    @include mixins.form-vertical;

    &__header {
        @include mixins.header;
    }

    &__buttons {
        & > * {
            flex-grow: 1;
        }

        margin: 0 auto;
        max-width: breakpoints.$sm_width * 1px;
    }
}

