<h1 class="list__header">{{ 'TEACHER_LIST.TITLE' | translate }}</h1>

<div class="list__actions">
    <button
        color="primary"
        mat-flat-button
        routerLink="/admin/teachers/create"
    >
        <mat-icon>add</mat-icon>
        {{ 'COMMON.CREATE' | translate }}
    </button>
</div>

<div
    *ngIf="itemList$ | async as list"
    class="mat-elevation-z3"
>
    <mat-table class="list" [dataSource]="list.items">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>{{ 'TEACHER_LIST.ID' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>{{ 'TEACHER_LIST.FULL_NAME' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.fullName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shortName">
            <mat-header-cell *matHeaderCellDef>{{ 'TEACHER_LIST.SHORT_NAME' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.shortName }} </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row
            *matRowDef="let row; columns: displayColumns"
            [routerLink]="['/admin/teachers', row.id]"
            mat-ripple
        ></mat-row>
    </mat-table>
    <mat-paginator
        (page)="onPaginationChange($event)"
        [length]="list.totalCount"
        [pageSizeOptions]="pageSizes"
        [pageSize]="list.pageSize"
    ></mat-paginator>
</div>
