<mat-form-field class="w-full" appearance="fill">
    <mat-label>{{ title }}</mat-label>
    <mat-chip-list #list [disabled]="disabled">
        <mat-chip
            *ngFor="let item of selectedItems"
            (removed)="itemRemoved(item)">
            {{ displayItem(item) }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text"
               #autocompleteInput
               matInput
               [formControl]="autocompleteControl"
               [matAutocomplete]="autocomplete"
               [matChipInputFor]="list"
        >
    </mat-chip-list>
    <mat-autocomplete
        autoActiveFirstOption
        #autocomplete
        (optionSelected)="itemSelected($event)"
    >
        <mat-option
            *ngFor="let item of filteredItems$ | async"
            [value]="item"
        >
            {{ displayItem(item) }}
        </mat-option>
    </mat-autocomplete>
    <mat-error>{{ error }}</mat-error>
</mat-form-field>
