<mat-form-field class="w-full" appearance="fill">
    <mat-label>Groups</mat-label>
    <mat-chip-list #groupList [formControl]="groupControl">
        <mat-chip
            *ngFor="let group of selectedGroups"
            (removed)="groupRemoved(group)">
            {{ group.number }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text"
               #audienceInput
               matInput
               [formControl]="groupNumberControl"
               [matAutocomplete]="teacherAutocomplete"
               [matChipInputFor]="groupList"
        >
    </mat-chip-list>
    <mat-autocomplete
        autoActiveFirstOption
        #teacherAutocomplete
        (optionSelected)="groupSelected($event)"
    >
        <mat-option *ngFor="let group of filteredGroups$ | async" [value]="group">
            {{ group.number }}
        </mat-option>
    </mat-autocomplete>
    <mat-error>{{ error }}</mat-error>
</mat-form-field>
